

//////////////////////////////// Form
.formSection {
    gap: 2rem;
}

.formBox .subHeadings {
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-align: center;
}

.formBox {
    display: grid;
    padding: 1rem;
}

.inputBox { 
    display: grid;
    width: 100%;
    padding-block: 0.5rem;
}

.formBox .row50 {
    gap: 20px;
    display: flex;
}

.inputBox span {
    display: grid;
    font-weight: 500;
    font-size: 1.1em;
    align-items: end;
}

.inputBox input {
    padding: 10px ;
    font-size: 12px;
    outline: none;
    background: #34414e;
    border: none;
    color: white;
}

.inputBox textarea {
    resize: none;

    font-size: 1.1em;
    height: 7rem;
    margin-bottom: 10px;
    padding: 10px;
    background: #34414e;
    outline: none;
    border: none;
    color: white;
}

.inputBox input[type="submit"] {
    margin: auto;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    max-width: 120px;
    color: white;
}

.inputBox ::placeholder {
    color: #999;
}

//////////////////////////////// infoBox

.infoBox {
    display: grid;
    justify-content: space-evenly;
    align-items: baseline;

}

.infoBox div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100%;
    font-size: 12px;
    text-transform: lowercase;
}

.infoBox div span {
    min-width: 40px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; //Increase Icon Size
    border-radius: 50% ;

}

.infoBox div p {
}

.infoBox div a {
}

iframe {
    height: 20rem;
    padding: 1rem;
  }





