
.lightMode {////////////////////////// TOGGLE_LIGHT_MODE
 background: rgb(211, 211, 211);
 transition: all 0.5s ease;
    
    span {
     transition: 0.5s;
     color: rgb(24, 23, 23);
    }

    p {
     transition: 0.5s;
    }

    .toggleLight {
        transition: all 0.5s ease;
        fill: black;
      }
}