
$background-color-primary: #1a1527;
$background-color-secondary: #251f36;
$fontColor: rgba(245, 245, 245, 0.521);
$color-indigo: #6305fa;
$color-purple: #6f42c1;
$color-blue: #007bff;
$color-cyan: #39dcf5;
$color-orange: #fd7e14;
$color-yellow: #fffb07;
$color-brown: #f3a43c;
$color-green: #01ff3c;
$color-teal: #20c997;

$fontSizeXS: 0.7rem;
$fontSizeS: 1rem;
$fontSizeM: 2rem;
$fontSizeL: 3rem;
$fontSizeXL: 3.8rem;

$breakpoint-XS: 0;
$breakpoint-S: 420px;
$breakpoint-M: 768px;
$breakpoint-L: 900px;
$breakpoint-XL: 1200px;
