
//MIXINS
 @mixin flexCenter {
 display: flex;
 justify-content: center;
 align-items: center;
}

 .project-wrap {
 display: flex;
 flex-direction: column;
 min-height: 70vh;
 gap: 1rem;
 padding: 1rem;
 
 button {
 width: 70px;
 background: 0;
 border: 0;
 
 i {
   font-size: 2rem;
}
}

.tags {

}

h2 {
margin-left: 0;
}

p {
}

a {

}

}

 .project-screenshots {
   min-height: 100vh;
   width: 100%;

 img {
   width: 100%;
   background-size: cover;
   background-position: center;
 }
}

@media only screen and (min-width: 700px) { 

 .project-info {
   display: grid;
   grid-template-columns: 70% 30%;
   height: 100vh;
  }

 .project-wrap {
  grid-column: 2;
}

.project-screenshots {
  grid-column: 1;
  grid-row: 1;
  
  overflow: scroll;
 }
}