@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro:wght@200&family=Tapestry&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
/* SIDEBAR START */
.hoverMenu {
  transform: skewY(-10deg);
  width: 100%;
  position: relative;
  z-index: 1000;
}

.hoverMenu .menuItem {
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
  width: 80%;
  height: 100%;
  background-color: #4c4e57;
  z-index: var(--i);
  transition: 0.1s;
  padding: 0.5em;
  font-size: 1.5em;
}

.hoverMenu .menuItem:hover {
  transform: translateX(50px);
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.hoverMenu .menuItem::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 100%;
  background-color: #3e3f46;
  transform: skewY(45deg);
  transform-origin: right;
  transition: 0.5s;
}

.hoverMenu .menuItem::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0px;
  height: 40px;
  width: 100%;
  background-color: #3e3f46;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

.lightMode {
  background: rgb(211, 211, 211);
  transition: all 0.5s ease;
}
.lightMode span {
  transition: 0.5s;
  color: rgb(24, 23, 23);
}
.lightMode p {
  transition: 0.5s;
}
.lightMode .toggleLight {
  transition: all 0.5s ease;
  fill: black;
}

.formSection {
  gap: 2rem;
}

.formBox .subHeadings {
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-align: center;
}

.formBox {
  display: grid;
  padding: 1rem;
}

.inputBox {
  display: grid;
  width: 100%;
  padding-block: 0.5rem;
}

.formBox .row50 {
  gap: 20px;
  display: flex;
}

.inputBox span {
  display: grid;
  font-weight: 500;
  font-size: 1.1em;
  align-items: end;
}

.inputBox input {
  padding: 10px;
  font-size: 12px;
  outline: none;
  background: #34414e;
  border: none;
  color: white;
}

.inputBox textarea {
  resize: none;
  font-size: 1.1em;
  height: 7rem;
  margin-bottom: 10px;
  padding: 10px;
  background: #34414e;
  outline: none;
  border: none;
  color: white;
}

.inputBox input[type=submit] {
  margin: auto;
  border: none;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  max-width: 120px;
  color: white;
}

.inputBox ::-moz-placeholder {
  color: #999;
}

.inputBox ::placeholder {
  color: #999;
}

.infoBox {
  display: grid;
  justify-content: space-evenly;
  align-items: baseline;
}

.infoBox div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 12px;
  text-transform: lowercase;
}

.infoBox div span {
  min-width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
}

iframe {
  height: 20rem;
  padding: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-scrollbar-style: smooth;
}

header {
  display: none;
}

body {
  background-color: #1a1527;
  color: rgba(245, 245, 245, 0.521);
  font-family: "Tektur", cursive;
  height: 100vh;
  cursor: none;
}
body a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.521);
}

#customCursor-overlay {
  position: fixed;
}
#customCursor-overlay #customCursor {
  width: 25px;
  height: 25px;
  background-color: red; /* Set the color or background of your custom cursor */
  border-radius: 30% 70% 30% 70%/70% 30% 70% 30%;
  pointer-events: none; /* Allow the cursor to pass through the element */
  transition: transform 0.1s ease-out;
  transform-origin: 100% 100%;
}

.gradient-text {
  background-image: linear-gradient(to right, #fd7e14, #6305fa, #fffb07);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  transition: 0.1s;
}
section h1 {
  font-size: 2rem;
  transition: 0.5s;
  /* Fallback: Set a background color. */
  background-image: linear-gradient(to right, #fd7e14, #6305fa, #fffb07);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.introduction-section {
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
  background-image: url(/Images/shapes-background-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.introduction-container {
  transition: 0.5s;
  max-width: 450px;
  margin: auto;
  position: relative;
}
.introduction-container .title {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.introduction-container .title h1 {
  font-size: 2rem;
  transition: 0.5s;
}
.introduction-container .title span {
  font-size: 3rem;
  transition: 0.5s;
}
.introduction-container h2 {
  font-size: 1rem;
  transition: 0.5s;
}

.svg-block {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.svg-block .svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  color: rgba(128, 128, 128, 0.37);
}
.svg-block .svg-container span {
  position: relative;
}
.svg-block .svg-container svg {
  font-size: 5px;
}
.svg-block .svg-container svg path {
  fill: rgba(110, 66, 193, 0.1647058824);
}

svg:nth-child(1) path {
  fill: #6f42c1;
}

svg:nth-child(2) path {
  fill: #fffb07;
}

svg:nth-child(3) path {
  fill: #fd7e14;
}

.heading {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
  transition: 0.5s;
  z-index: 1;
}

.projects-section {
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/Images/shapes-background-2.png);
}
.projects-section a {
  display: flex;
  justify-content: center;
  margin: auto;
}

.adobe-ps-block {
  position: absolute;
  top: 10rem;
  right: -8rem;
  transform: rotateZ(90deg);
  font-size: 12px;
}

.adobe-ps-block::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 5px;
  padding: 2px;
  border: solid 2px white;
  border-radius: 50%;
}

.adobe-ps-block::after {
  content: "-- background images created with Adobe PS";
  font-size: 0.7rem;
  color: rgb(172, 172, 172);
  letter-spacing: 1px;
}

.projects-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.project-container {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  opacity: 0; /* Initially hidden */
  transform: translateX(-50%);
  transition: opacity 0.5s, transform 0.5s;
  cursor: none;
}
.project-container img {
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.5px;
  transition: 0.5s ease-in-out;
}
.project-container .project-heading {
  transition: ease-in-out 0.2s;
  text-transform: uppercase;
}

.project-container:hover img {
  letter-spacing: 5px;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.about-section {
  display: flex;
  flex-direction: column;
  background-image: url(/Images/background-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-section .about-main {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
}
.about-section .about-main .about-column {
  padding: 1rem 0.7rem;
  position: relative;
  border-left: 1px solid yellow;
}
.about-section .about-main .about-main-paragraph {
  padding-block: 2rem;
  z-index: 1;
}
.about-section .about-main svg {
  display: none;
}
.about-section .about-main .about-column p::after {
  content: "" attr(data-line-num);
  position: absolute;
  z-index: 10;
  left: -1.8rem;
}

.socials-section {
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
}
.socials-section .socials-icon-container {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: none;
}
.socials-section .socials-icon-container a {
  display: inline-flex;
  align-items: center;
  cursor: none;
  padding: 10px;
}
.socials-section .socials-icon-container svg {
  width: 40px;
  height: 40px;
  fill: #6305fa;
}
.socials-section .socials-icon-container span {
  margin-left: 2rem;
  transition: 0.2s ease-in-out;
}
.socials-section a:hover span {
  margin-left: 1rem;
  background-image: linear-gradient(to right, #fd7e14, #6305fa, #fffb07);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#form-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(30, 1, 54, 0.911);
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#form-container {
  border-radius: 5px;
  text-align: center;
  width: 100vw;
  height: 100vh;
  letter-spacing: 2px;
  color: #fff;
}
#form-container form {
  font-size: 1rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Tektur", cursive;
  overflow: scroll;
}
#form-container form h2 {
  font-size: 1.5rem;
  padding: 10px;
}
#form-container form input {
  background: transparent;
  border: none;
  width: 300px;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(0, 217, 255);
  font-family: "Tektur", cursive;
  border: 1px 2px solid white;
}
#form-container form ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.753);
  font-size: 12px;
}
#form-container form ::placeholder {
  color: rgba(255, 255, 255, 0.753);
  font-size: 12px;
}
#form-container form #reason {
  max-width: 300px;
  min-height: 150px;
  background: rgba(139, 139, 139, 0.226);
  color: rgb(0, 217, 255);
  font-size: 1rem;
  border: none;
  padding: 10px;
  font-family: "Tektur", cursive;
}

#close-btn {
  position: relative;
  left: 40%;
  font-size: 3rem;
  color: rgb(0, 217, 255);
}

#form-submit-btn {
  margin-block: 1rem;
  padding: 10px;
  font-size: 1rem;
  cursor: none;
  background: linear-gradient(to right, #3498db, #2ecc71);
  transition: background 0.3s ease-in-out;
  color: white;
  border: none;
  border-radius: 50px;
  position: relative;
}

.form-button-container {
  padding: 2rem 4rem;
}

#showFormBtn {
  padding: 10px 20px;
  font-size: 1rem;
  width: 150px;
  height: 80px;
  cursor: none;
  background: linear-gradient(to right, #3498db, #2ecc71);
  transition: background 0.3s ease-in-out;
  color: white;
  border: none;
  border-radius: 50px;
  position: relative;
}

#showFormBtn:hover {
  background: linear-gradient(to right, rgba(46, 204, 112, 0.568627451), rgba(52, 152, 219, 0.5333333333));
}

#showFormBtn.clicked {
  background-position: right center;
  transition: background 0.3s ease-in-out;
}

.project-info {
  height: 100vh;
}
.project-info #customCursor-overlay {
  display: none;
}
.project-info h2 {
  margin-left: 0;
}
.project-info .project-wrap {
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: 1rem;
  padding: 1rem;
}
.project-info .project-wrap p {
  letter-spacing: 2px;
}
.project-info .project-wrap button {
  display: flex;
  justify-content: center;
  background: 0;
  border: 0;
  font-size: 1.5rem;
  padding: 1rem 0;
  cursor: none;
}
.project-info .project-wrap button span {
  transition: 0.2s ease-in-out;
}
.project-info .project-wrap .back-button {
  width: 120px;
}
.project-info .project-wrap .back-button:hover span {
  margin-left: -1rem;
  background-image: linear-gradient(to right, #6305fa, #fffb07, #fd7e14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.project-info .project-wrap .visit-button {
  width: 130px;
}
.project-info .project-wrap .visit-button:hover span {
  margin-left: 1rem;
  background-image: linear-gradient(to right, #6305fa, #fffb07, #fd7e14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.project-info .project-screenshots {
  overflow: scroll;
  overflow-x: hidden;
}
.project-info .project-screenshots img {
  width: 100%;
}

@media only screen and (min-width: 375px) {
  .project-container {
    width: 300px;
    height: 400px;
  }
}
@media only screen and (min-width: 550px) {
  .introduction-section {
    align-items: center;
  }
  .introduction-section h1 {
    max-width: 1000px;
  }
  .introduction-section h1 span {
    margin-left: 4rem;
  }
  .introduction-section h2 {
    margin-left: 8rem;
  }
  .introduction-section .adobe-ps-block {
    margin: 1rem;
  }
  .project-container:hover .project-heading {
    width: 100%;
  }
}
@media screen and (max-width: 485px) {
  #customCursor-overlay {
    display: none;
  }
}
@media only screen and (min-width: 767px) {
  .introduction-container h1 span {
    margin-left: 2ch;
  }
  .introduction-container h2 {
    margin-left: 12rem;
  }
  .projects-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;
  }
  .project-container {
    margin-left: 0;
  }
  .projects-section {
    padding-left: 0;
    height: 600px;
  }
  .about-main {
    margin: auto;
  }
  .about-section .about-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-section .about-main-paragraph {
    grid-column: 1/3;
  }
  .about-column {
    transition: 0.2s;
  }
  .socials-section {
    flex-direction: row;
    justify-content: center;
  }
  .socials-section .socials-icon-container {
    flex-direction: row;
  }
  .socials-section .socials-icon-container a {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }
  .socials-section .socials-icon-container a span {
    margin-left: 0;
    font-size: 0.7rem;
  }
  .svg-block {
    display: inline-flex;
    gap: 1.5rem;
    position: relative;
    flex-direction: column;
    margin: 0 3rem;
  }
  .svg-block .svg-container {
    height: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .projects-main {
    max-width: 800px;
  }
  .project-info {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .project-wrap {
    grid-column: 2;
  }
  .project-screenshots {
    grid-row: 1;
    overflow: scroll;
  }
  .adobe-ps-block {
    top: 0;
    right: -10rem;
  }
}
@media only screen and (min-width: 1200px) {
  #form-container {
    max-width: 1200px;
    margin: auto;
  }
  .heading {
    margin: 1rem 5rem;
  }
}
@media only screen and (min-width: 1600px) {
  .introduction-container {
    margin-left: 20rem;
    min-width: 700px;
  }
  .introduction-container .title h1 {
    margin-left: 2rem;
    font-size: 3rem;
  }
  .introduction-container .title h1 span {
    font-size: 3.8rem;
    margin-left: 4rem;
  }
  .introduction-container .title h2 {
    margin-left: 10rem;
  }
  .projects-section h1 {
    transition: 0.5s;
  }
}/*# sourceMappingURL=style.css.map */