@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro:wght@200&family=Tapestry&display=swap");
/* SIDEBAR START */
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
.hoverMenu {
  transform: skewY(-10deg);
  width: 100%;
  position: relative;
  z-index: 1000;
}

.hoverMenu .menuItem {
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
  width: 80%;
  height: 100%;
  background-color: #4c4e57;
  z-index: var(--i);
  transition: 0.1s;
  padding: 0.5em;
  font-size: 1.5em;
}

.hoverMenu .menuItem:hover {
  transform: translateX(50px);
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.hoverMenu .menuItem::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 100%;
  background-color: #3e3f46;
  transform: skewY(45deg);
  transform-origin: right;
  transition: 0.5s;
}

.hoverMenu .menuItem::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0px;
  height: 40px;
  width: 100%;
  background-color: #3e3f46;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

.lightMode {
  background: rgb(211, 211, 211);
  transition: all 0.5s ease;
}
.lightMode span {
  transition: 0.5s;
  color: rgb(24, 23, 23);
}
.lightMode p {
  transition: 0.5s;
}
.lightMode .toggleLight {
  transition: all 0.5s ease;
  fill: black;
}

.formSection {
  gap: 2rem;
}

.formBox .subHeadings {
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-align: center;
}

.formBox {
  display: grid;
  padding: 1rem;
}

.inputBox {
  display: grid;
  width: 100%;
  padding-block: 0.5rem;
}

.formBox .row50 {
  gap: 20px;
  display: flex;
}

.inputBox span {
  display: grid;
  font-weight: 500;
  font-size: 1.1em;
  align-items: end;
}

.inputBox input {
  padding: 10px;
  font-size: 12px;
  outline: none;
  background: #34414e;
  border: none;
  color: white;
}

.inputBox textarea {
  resize: none;
  font-size: 1.1em;
  height: 7rem;
  margin-bottom: 10px;
  padding: 10px;
  background: #34414e;
  outline: none;
  border: none;
  color: white;
}

.inputBox input[type=submit] {
  margin: auto;
  border: none;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  max-width: 120px;
  color: white;
}

.inputBox ::-moz-placeholder {
  color: #999;
}

.inputBox ::placeholder {
  color: #999;
}

.infoBox {
  display: grid;
  justify-content: space-evenly;
  align-items: baseline;
}

.infoBox div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 12px;
  text-transform: lowercase;
}

.infoBox div span {
  min-width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
}

iframe {
  height: 20rem;
  padding: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-scrollbar-style: smooth;
}

header {
  display: none;
}

body {
  background-color: #251f36;
  color: rgba(245, 245, 245, 0.521);
  font-family: "Handjet", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Tektur", cursive;
}
body a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.521);
}

.gradient-text {
  /* Fallback: Set a background color. */
  /* Create the gradient. */
  background-image: linear-gradient(to right, #6610f2, #fffb07, #fd7e14);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  min-height: 100vh;
}
section h1 {
  font-size: 2rem;
  margin: 2rem 0rem;
  transition: 0.5s;
}

.first-introduction-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1rem;
  transition: 0.5s ease-in-out;
  background-image: url("/Photos/shapes-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.first-introduction-section .adobe-ps-block {
  position: absolute;
  bottom: 0;
  right: 0.5rem;
}
.first-introduction-section .adobe-ps::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 5px;
  padding: 2px;
  border: solid 2px white;
  border-radius: 50%;
}
.first-introduction-section .adobe-ps::after {
  content: "-- background images created with Adobe PS";
  position: relative;
  font-size: 0.7rem;
  color: rgb(172, 172, 172);
  letter-spacing: 1px;
}

.introduction-container {
  transition: 0.5s;
  display: grid;
  max-width: 450px;
}
.introduction-container h1 {
  font-size: 2rem;
  transition: 0.5s;
}
.introduction-container span {
  font-size: 3rem;
  transition: 0.5s;
}

h2 {
  font-size: 1rem;
  transition: 0.5s;
}

.projects-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: hidden;
  transition: 0.2s;
  background-image: url("/Photos/square-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.projects-section a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-main {
  display: grid;
  gap: 7rem;
}

.project-container {
  width: 250px;
  height: 170px;
}
.project-container img {
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-container h3 {
  position: absolute;
  right: -2rem;
  top: -40px;
  width: 130px;
  letter-spacing: 3px;
  transition: ease-in-out 0.2s;
  color: rgba(245, 245, 245, 0.521);
  font-size: 1rem;
}

.project-container:hover h3 {
  top: -60px;
  font-size: 20px;
}

.reveal {
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.about-section {
  min-height: 50vh;
  letter-spacing: 1.5px;
}
.about-section .about-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-left: 1px solid gray;
  padding-left: 15px;
}
.about-section .about-main h1 {
  margin: 3rem 0rem;
}
.about-section .about-main .about-row {
  display: inline-flex;
  gap: 50px;
}
.about-section .about-main .about-row .variable-name {
  color: #007bff;
  width: 100%;
}
.about-section .about-main .about-row .suit {
  color: #39dcf5;
}
.about-section .about-main .about-row .scope {
  color: whitesmoke;
}
.about-section .about-main .about-row .prop {
  color: #fffb07;
}

.contact-section {
  min-height: 50vh;
  letter-spacing: 2px;
}
.contact-section .contact-main {
  display: grid;
  gap: 15px;
}
.contact-section .contact-main a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.contact-section .contact-main a svg {
  width: 35px;
  height: 35px;
}
.contact-section .contact-main a span {
  transition: 0.2s ease-in-out;
}
.contact-section .contact-main a:hover span {
  margin-left: 1rem;
}

@media only screen and (min-width: 550px) {
  .projects-main, .about-main, .contact-main {
    margin: auto;
  }
  section h1 {
    max-width: 1000px;
  }
  section h1 span {
    margin-left: 5rem;
  }
  section h2 {
    margin-left: 8rem;
  }
  .dwd-bakery {
    margin-left: 2rem;
    width: 400px;
    height: 250px;
    margin-left: 0rem;
  }
  .saveur-restaurant {
    width: 280px;
    height: 400px;
  }
  .blog-page {
    width: 450px;
    height: 250px;
  }
  .wedding-page {
    width: 300px;
    height: 400px;
    margin-left: 6rem;
  }
}
@media only screen and (min-width: 760px) {
  .introduction-container {
    max-width: 500px;
  }
  .introduction-container h1 {
    margin-left: 0rem;
  }
  .introduction-container h1 span {
    margin-left: 4rem;
    font-size: 3rem;
  }
  .introduction-container h2 {
    font-size: 2rem;
    margin-left: 6rem;
    width: 100%;
  }
  .first-introduction-section::after {
    padding: 2rem;
  }
  .first-introduction-section::before {
    margin: 2.1rem 20.25rem;
  }
}
@media only screen and (min-width: 900px) {
  .introduction-container h2 {
    margin-left: 8rem;
  }
  .projects-main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 1fr;
    gap: 3rem;
  }
  .project-container {
    margin-left: 0;
  }
  .saveur-restaurant {
    width: 280px;
    height: 250px;
  }
  .blog-page {
    height: 400px;
    width: 300px;
  }
  .wedding-page {
    width: 400px;
    height: 250px;
  }
  .projects-section {
    padding-left: 0;
  }
}
@media only screen and (min-width: 1400px) {
  .introduction-container {
    max-width: 650px;
  }
  .introduction-container h1 {
    margin-left: 2rem;
    font-size: 3rem;
  }
  .introduction-container h1 span {
    font-size: 4.5rem;
    margin-left: 4rem;
  }
  section h1 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1600px) {
  .projects-section h1 {
    transition: 0.5s;
  }
}/*# sourceMappingURL=style.css.map */