@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro:wght@200&family=Tapestry&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
/* SIDEBAR START */
.hoverMenu {
  transform: skewY(-10deg);
  width: 100%;
  position: relative;
  z-index: 1000;
}

.hoverMenu .menuItem {
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
  width: 80%;
  height: 100%;
  background-color: #4c4e57;
  z-index: var(--i);
  transition: 0.1s;
  padding: 0.5em;
  font-size: 1.5em;
}

.hoverMenu .menuItem:hover {
  transform: translateX(50px);
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.hoverMenu .menuItem::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 40px;
  height: 100%;
  background-color: #3e3f46;
  transform: skewY(45deg);
  transform-origin: right;
  transition: 0.5s;
}

.hoverMenu .menuItem::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0px;
  height: 40px;
  width: 100%;
  background-color: #3e3f46;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

.project-wrap {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  gap: 1rem;
  padding: 1rem;
}
.project-wrap button {
  width: 70px;
  background: 0;
  border: 0;
}
.project-wrap button i {
  font-size: 2rem;
}
.project-wrap h2 {
  margin-left: 0;
}
.project-screenshots {
  min-height: 100vh;
  width: 100%;
}
.project-screenshots img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 700px) {
  .project-info {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100vh;
  }
  .project-wrap {
    grid-column: 2;
  }
  .project-screenshots {
    grid-column: 1;
    grid-row: 1;
    overflow: scroll;
  }
}
.lightMode {
  background: rgb(211, 211, 211);
  transition: all 0.5s ease;
}
.lightMode span {
  transition: 0.5s;
  color: rgb(24, 23, 23);
}
.lightMode p {
  transition: 0.5s;
}
.lightMode .toggleLight {
  transition: all 0.5s ease;
  fill: black;
}

.formSection {
  gap: 2rem;
}

.formBox .subHeadings {
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-align: center;
}

.formBox {
  display: grid;
  padding: 1rem;
}

.inputBox {
  display: grid;
  width: 100%;
  padding-block: 0.5rem;
}

.formBox .row50 {
  gap: 20px;
  display: flex;
}

.inputBox span {
  display: grid;
  font-weight: 500;
  font-size: 1.1em;
  align-items: end;
}

.inputBox input {
  padding: 10px;
  font-size: 12px;
  outline: none;
  background: #34414e;
  border: none;
  color: white;
}

.inputBox textarea {
  resize: none;
  font-size: 1.1em;
  height: 7rem;
  margin-bottom: 10px;
  padding: 10px;
  background: #34414e;
  outline: none;
  border: none;
  color: white;
}

.inputBox input[type=submit] {
  margin: auto;
  border: none;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  max-width: 120px;
  color: white;
}

.inputBox ::-moz-placeholder {
  color: #999;
}

.inputBox ::placeholder {
  color: #999;
}

.infoBox {
  display: grid;
  justify-content: space-evenly;
  align-items: baseline;
}

.infoBox div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 12px;
  text-transform: lowercase;
}

.infoBox div span {
  min-width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
}

iframe {
  height: 20rem;
  padding: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-scrollbar-style: smooth;
}

header {
  display: none;
}

body {
  background-color: #1a1527;
  color: rgba(245, 245, 245, 0.521);
  font-family: "Handjet", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Tektur", cursive;
}
body a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.521);
}

.gradient-text {
  /* Fallback: Set a background color. */
  /* Create the gradient. */
  background-image: linear-gradient(to right, #6610f2, #fffb07, #fd7e14);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  transition: 0.1s;
}
section h1 {
  font-size: 2rem;
  transition: 0.5s;
  /* Fallback: Set a background color. */
  /* Create the gradient. */
  background-image: linear-gradient(to right, #fd7e14, #6610f2, #fffb07);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.first-introduction-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.5s ease-in-out;
  background-image: url("/Photos/shapes-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.first-introduction-section .adobe-ps-block {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem 10PX;
}
.first-introduction-section .adobe-ps::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 5px;
  padding: 2px;
  border: solid 2px white;
  border-radius: 50%;
}
.first-introduction-section .adobe-ps::after {
  content: "-- background images created with Adobe PS";
  font-size: 0.7rem;
  color: rgb(172, 172, 172);
  letter-spacing: 1px;
}

.introduction-container {
  transition: 0.5s;
  display: flex;
  max-width: 450px;
}
.introduction-container .title {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.introduction-container .title h1 {
  font-size: 2rem;
  transition: 0.5s;
}
.introduction-container .title span {
  font-size: 3rem;
  transition: 0.5s;
}
.introduction-container h2 {
  font-size: 1rem;
  transition: 0.5s;
}

.svg-block {
  display: flex;
  justify-content: space-evenly;
}
.svg-block svg {
  width: 100px;
}
.svg-block svg path {
  fill: rgba(245, 245, 245, 0.521);
  position: relative;
  width: 100%;
  top: 10rem;
}
.svg-block svg:nth-child(1) path {
  fill: #6f42c1;
}
.svg-block svg:nth-child(2) path {
  fill: #fffb07;
}
.svg-block svg:nth-child(3) path {
  fill: #fd7e14;
}

.heading {
  display: flex;
  align-items: center;
  margin: 3rem 1rem;
  text-transform: uppercase;
  transition: 0.5s;
}

.projects-section {
  overflow: hidden;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  background-image: url("/Photos/square-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.projects-section a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7rem;
  padding-block: 3rem;
}

.project-container {
  width: 250px;
  height: 100%;
}
.project-container img {
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 40px 40px 50px 10px #1a1527;
}
.project-container .project-heading {
  position: absolute;
  left: 0.5rem;
  top: -50px;
  transition: ease-in-out 0.2s;
  font-size: 1rem;
  overflow: visible;
}

.project-container:hover .project-heading {
  top: -60px;
  font-size: 1.3rem;
  height: 300px;
  letter-spacing: 5px;
}

.reveal {
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.about-section {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
}
.about-section .about-main {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
}
.about-section .about-main .about-column {
  padding: 1rem 0.7rem;
  position: relative;
  border-left: 1px solid yellow;
}
.about-section .about-main .about-main-paragraph {
  padding-bottom: 2rem;
}
.about-section .about-main svg {
  display: none;
}
.about-section .about-main .about-column p::after {
  content: "" attr(data-line-num);
  position: absolute;
  z-index: 10;
  left: -1.8rem;
}

.socials-section {
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
}
.socials-section .socials-icon-container {
  display: flex;
  flex-direction: column;
}
.socials-section .socials-icon-container a {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
}
.socials-section .socials-icon-container svg {
  width: 40px;
  height: 40px;
  fill: #6610f2;
}
.socials-section .socials-icon-container span {
  margin-left: 2rem;
  transition: 0.2s ease-in-out;
}
.socials-section a:hover span {
  margin-left: 1rem;
}

@media only screen and (min-width: 550px) {
  section h1 {
    max-width: 1000px;
  }
  section h1 span {
    margin-left: 4rem;
  }
  section h2 {
    margin-left: 8rem;
  }
  .first-introduction-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .first-introduction-section .svg-block {
    flex-direction: column;
    gap: 3rem;
  }
  .first-introduction-section .adobe-ps-block {
    margin: 1rem;
  }
  .projects-main, .about-main {
    margin: auto;
  }
  .project-container:hover .project-heading {
    top: -60px;
    font-size: 1.3rem;
  }
  .dwd-bakery {
    margin-left: 2rem;
    min-width: 100%;
  }
  .saveur-restaurant {
    width: 280px;
    height: 350px;
  }
  .blog-page {
    width: 500px;
  }
  .wedding-page {
    width: 300px;
    height: 400px;
    margin-left: 6rem;
  }
}
@media only screen and (min-width: 700px) {
  .introduction-container {
    max-width: 500px;
  }
  .introduction-container h1 span {
    font-size: 3rem;
  }
  .introduction-container h2 {
    font-size: 1.5rem;
    margin-left: 6rem;
  }
  .first-introduction-section::after {
    padding: 2rem;
  }
  .first-introduction-section::before {
    margin: 2.1rem 20.25rem;
  }
  .projects-main {
    gap: 7rem;
  }
  .blog-page {
    width: 500px;
  }
  .about-section .about-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-section .about-main-paragraph {
    grid-column: 1/3;
  }
  .about-section .about-main :nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
  .about-section .about-main :nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  .about-column {
    transition: 0.2s;
  }
  .socials-section {
    flex-direction: row;
    min-height: 200px;
  }
  .socials-section .socials-icon-container {
    flex-direction: row;
  }
  .socials-section .socials-icon-container a {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }
  .socials-section .socials-icon-container a span {
    margin-left: 0;
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 900px) {
  .introduction-container {
    margin-left: 8rem;
  }
  .projects-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 1fr;
    gap: 0rem;
    padding-top: 0;
  }
  .project-container {
    margin-left: 0;
  }
  .dwd-bakery {
    width: 450px;
  }
  .saveur-restaurant {
    width: 280px;
    height: 350px;
  }
  .blog-page {
    height: 400px;
    width: 300px;
  }
  .wedding-page {
    width: 400px;
    height: 250px;
  }
  .projects-section {
    padding-left: 0;
  }
  .about-main {
    width: 900px;
    margin: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .heading {
    margin-top: 3rem;
    margin-left: 5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .introduction-container {
    min-width: 550px;
    margin-left: 10rem;
  }
  .introduction-container .title h1 {
    margin-left: 2rem;
    font-size: 2rem;
  }
  .introduction-container .title h1 span {
    font-size: 3rem;
    margin-left: 4rem;
  }
  .introduction-container .title h2 {
    margin-left: 10rem;
  }
}
@media only screen and (min-width: 1600px) {
  .introduction-container {
    margin-left: 20rem;
    min-width: 550px;
  }
  .introduction-container .title h1 {
    margin-left: 2rem;
    font-size: 3rem;
  }
  .introduction-container .title h1 span {
    font-size: 3.8rem;
    margin-left: 4rem;
  }
  .introduction-container .title h2 {
    margin-left: 10rem;
  }
  .projects-section h1 {
    transition: 0.5s;
  }
  .heading {
    margin: 3rem 5rem;
  }
  .about-section, .socials-section {
    padding: 5rem;
  }
}/*# sourceMappingURL=style.css.map */