@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro:wght@200&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

@import "./hoverMenu";
@import "./animations";
@import "./toggleLight";
@import "./form";
@import "./prefixes";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border:  solid 1px black;
}

html {
 scroll-behavior: smooth;
 -ms-scrollbar-style:smooth;
}
 
//MIXINS
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin navBar {/////////NAV_BAR
  display: grid;
  flex-direction: column;
  position: fixed;
  z-index: 1000; 
  top: 0;
  box-shadow: 0 0 3px 1px black;
}

@mixin sideBar {//////////SIDE_BAR
  @include flexCenter();
  width: 14em;
  height: 18em;
  position: fixed;
  top: 5em;
  transition: transform 0.7s, left 0.4s;
  left: -15em;
  z-index: 100;
}

@mixin hamburger {//////////HAMBURGER
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;
  height: 3em;
  padding: 10px;

  .lines {////////////////HAMBURGER LINES
    width: 1.5em;
    height: 2px;
    border-radius: 70px;
  }

  #line1 {
   width: 0.9em;
   background-color: white;
  }

  #line2 {
  }

  #line3 {
}}

@mixin navList {///////////////NAV_LIST
  justify-content: space-around;
  color: rgba(95, 95, 95, 0.473);
  
.listItem {///////////////LIST_ITEM
  display: flex;
  justify-content: center;
  transition: color 0.5s;
  text-decoration: none;
}

a {///////////////////////SIDEBAR_LINKS
  @include flexCenter();
  flex-direction: column;
  text-decoration: none;
  color: rgba(128, 128, 128, 0.521);
  transition: 0.5s;
 
  height: 3em;
  width: 4em;
  
&:hover {///////////////LIST_ITEM_HOVER
  cursor: pointer;
  color: white;
  border-radius: 6px;
}}}

@mixin boxShadow {
  box-shadow: -50px 20px 5px rgba(0, 0, 0, 0.281);
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////
header {
  display: none;
}

body {
 background-color: $background-color-primary;
 color: $fontColor;

 font-family: 'Handjet', cursive;
 font-family: 'Kanit', sans-serif;
 font-family: 'Tektur', cursive;
 overflow-x: hidden;


 a {
  text-decoration: none;
  color: $fontColor;
 }
}

.gradient-text {
  /* Fallback: Set a background color. */
  
  /* Create the gradient. */
  background-image: linear-gradient(to right, $color-indigo, $color-yellow, $color-orange);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  transition: 0.1s;

  h1 {
     font-size: $fontSizeM;
      transition: 0.5s ;
        /* Fallback: Set a background color. */
  
  /* Create the gradient. */
  background-image: linear-gradient(to right, $color-orange, $color-indigo, $color-yellow, );
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  }

}

// Donnay Krog > Heading Container
.first-introduction-section {
   display: flex;
   justify-content: center;
   transition: 0.5s ease-in-out;
   
   background-image: url('/Portfolio/Photos/shapes-background.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;

   .adobe-ps-block {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2rem 10PX; 
  }

   .adobe-ps::before {
    content: '';
    
    position: absolute;
    left: -10px;  
    bottom: 5px;
    padding: 2px ;
    border: solid 2px white;
    border-radius: 50%;
    
  }
  
   .adobe-ps::after {
    
    content: '-- background images created with Adobe PS';
    
    font-size: $fontSizeXS;
    color: rgb(172, 172, 172);
    letter-spacing: 1px;
  }
}

// FIRST CONTAINER WITH MAIN TITLE
.introduction-container {
 transition: 0.5s;
 max-width: 450px;
 margin: auto;

 .title {
  display: flex;
  flex-direction: column;
  margin-left: 1rem ;

   h1 {
     font-size: $fontSizeM;
     transition: 0.5s;
   }
   
   span {
     font-size: $fontSizeL;
     transition: 0.5s;
   }

}

 h2 {

   font-size: $fontSizeS;
   transition: 0.5s;
}

}

// 3 SVG ICONS AT BOTTOM OF FIRST PAGE
.svg-block {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  

    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    text-align: center;

    .svg-container {
      @include flexCenter();
      flex-direction: column;
      font-size: 10px;

      color: rgba(128, 128, 128, 0.37);


      span{
        position: relative;
      };
    
    svg {
     
      path {
        fill: #6e42c12a;;    
        
      }
      
    }
   }
   }

// Color of each icon
 svg:nth-child(1) {
    path {
     fill: $color-purple;
   }
}

 svg:nth-child(2) {
    path {
     fill: $color-yellow;
   }
}

 svg:nth-child(3) {
    path {
     fill: $color-orange;
   }
}

.heading {
  display: flex;
  align-items: center;
  margin: 3rem 1rem;
  text-transform: uppercase;
  transition: 0.5s ;
}


// PROJECT SECTION

.projects-section {
  overflow: hidden;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  background-image: url('/Photos/background-3.2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  a {
     width: 100%;
     @include flexCenter();
  }
}

.projects-main {
  @include flexCenter();
  flex-direction: column;
  gap: 7rem;
  padding-block: 3rem;
}

.project-container {
     width: 250px;
     height: 100%;

  img {
    width: 100%; height: 100%;
    z-index: -1;
    object-fit: cover;
    box-shadow: 40px 40px 50px 10px $background-color-primary;
  }

   .project-heading {
    position: absolute;
    left: 0.5rem;
    top: -50px;

    transition: ease-in-out 0.2s;
    
    font-size: $fontSizeS;
    overflow: visible;
}
}

.project-container:hover .project-heading {
  top: -60px;
  font-size: 1.3rem;
  letter-spacing: 5px;
 }

 // Class linked to javascript > Make container pop up and disappear
.reveal {
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s all ease;
}

// Class linked to javascript > Make container pop up and disappear
.reveal.active {
  transform: translateY(0px);
  opacity: 1; 
}


// ABOUT SECTION

 .about-section {
 display: flex;
 min-height: 70vh;
 flex-direction: column;

   .about-main {
   display: flex;
   flex-direction: column;

   padding: 0 2.5rem;

   .about-column {
    padding: 1rem 0.7rem;
    position: relative;
    border-left: 1px solid yellow;
  }

   .about-main-paragraph {
    padding-bottom: 2rem;
  }

   svg {
    display: none;
  }
  
   .about-column p::after{
    content: '' attr(data-line-num);
    position: absolute;
    z-index: 10;
    left:-1.8rem;
  }

  // .about-row {

  //   .variable-name {
  //     color: $color-blue;
  //     width: 100%;
  //   }

  //   display: inline-flex;

  //   .suit {
  //     color: $color-cyan;
  //   }

  //   .scope {
  //     color: whitesmoke;
  //   }

  //   .prop {
  //     color: $color-green;
  //   }
  // }
  
  // .about-row::after {
  //   content: '' attr(data-line-num);
  //   position: absolute;
  //   transform: translate(-50px);
  // }
}
}

// SOCIALS SECTION

.socials-section {
 display: flex;
 flex-direction: column;
 letter-spacing: 2px;
    
    // SOCIALS ICONS CONTAINER 
   .socials-icon-container {
     display: flex;
     flex-direction: column;
      
    a {
     display: inline-flex;
     align-items: center;
     padding: 0.5rem;

    }

     svg {
       width: 40px; height: 40px;
       fill: $color-indigo;
    }

     span {
       margin-left: 2rem;
       transition: 0.2s ease-in-out;
    }

  }
    
   a:hover span {
      margin-left: 1rem;
  }
}

// PROJECT INFO > SIDEBAR

.project-info {

  h2 {
    margin-left: 0;
  }

.project-wrap {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
 
  gap: 1rem;
  padding: 1rem;
  
   min-height: 50vh;


   p {
   letter-spacing: 2px;
   }

   button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: 0;
    border: 0;
    font-size: 1.5rem;
    padding: 2rem 0;
    
     span {
      transition: 0.2s ease-in-out;
     }
  }
  
   .back-button {
     width: 120px;
  }

   .back-button:hover span{
     margin-left: -1rem;
     background-image: linear-gradient(to right, $color-indigo, $color-yellow, $color-orange);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
     -moz-background-clip: text;
     -moz-text-fill-color: transparent;
  }
  
   .visit-button {
     width: 130px;
  }

   .visit-button:hover span{
     margin-left: 1rem;
     background-image: linear-gradient(to right, $color-indigo, $color-yellow, $color-orange);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
     -moz-background-clip: text;
     -moz-text-fill-color: transparent;
  }
}

.project-screenshots {

  img {
    width: 100%;
  }
 }
}

@media only screen and (min-width: 420px) { 
 
} 

@media only screen and (min-width: 550px) { 

section {

  h1 {
    max-width: 1000px;

    span {
    margin-left: 4rem;
    }
  }

  h2 {
    margin-left: 8rem;
  }
}

.first-introduction-section {
  align-items: center;

  .adobe-ps-block {
      margin: 1rem;
  }
}  

.projects-main, .about-main {
    margin: auto;
}

.project-container:hover .project-heading {
  top: -60px;
  font-size: 1.3rem;
}

.dwd-bakery {
 margin-left: 2rem;
 min-width: 100%;
}

.saveur-restaurant {
 width: 280px; height: 350px;
}

.blog-page {
 width: 500px; 
}

.wedding-page {
  width: 300px; height: 400px;
  margin-left: 6rem;

}
}

@media only screen and (min-width: 700px) { 

section {

  h1 {

    span {
    margin-left: 2ch;
    }
  }

  h2 {
    margin-left: 12rem;
  }
}

.projects-main {
  gap: 7rem;
}

.project-info {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100vh;
 }

.project-wrap {
 grid-column: 2;
}

.project-screenshots {
 grid-column: 1;
 grid-row: 1;
 
 overflow: scroll;
 overflow-x: hidden;

}

.blog-page {
  width: 500px; 
}

.about-section {

   .about-main {
     display: grid;
     grid-template-columns: 1fr 1fr;
   }

   .about-main-paragraph {
    grid-column: 1/3;
   }

   .about-main :nth-child(3) {
    grid-row: 2;
    grid-column: 2;
   }

   .about-main :nth-child(2) {
    grid-row: 2;
    grid-column: 1;
   }

}

.about-column {
  transition: 0.2s;
}

.socials-section {

   flex-direction: row;
   min-height: 200px;

   .socials-icon-container {
     flex-direction: row;

     a {
         align-items: center;
         display: flex;
         justify-content: center;
         flex-direction: column;
         gap: 5px;

         span {
          margin-left: 0;
          font-size: $fontSizeXS;
        }
      }
}
}

.introduction-container {
  margin-left: 8rem;
}

.svg-block {
  display: inline-flex;
  gap: 1.5rem;
  position: relative;
  flex-direction: column;
  margin: 0 3rem;
  
  .svg-container {
     height: 100%;
   }
}
}

@media only screen and (min-width: 800px) { 

 
 .projects-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 1fr;
    gap: 0rem;
    padding-top: 0;
}
 
 .project-container {
    margin-left: 0;
}
 
 .dwd-bakery {
    width: 450px;
}
 
 .saveur-restaurant {
    width: 280px;
    height: 350px;
}
 
 .blog-page {
    height: 400px; width: 300px;
}
 
 .wedding-page {
    width: 400px;
    height: 250px;
}
 
 .projects-section {
    padding-left: 0;

}

 .about-main {
  width: 900px;
  margin: auto;
}
}

@media only screen and (min-width: 1200px) {

.heading {
   margin-top: 3rem;
   margin-left: 5rem ;
}
}

@media only screen and (min-width: 1400px) {

 .introduction-container {
   min-width: 550px;
   margin-left: 10rem;
    
     .title {

       h1 {
         margin-left: 2rem;
         font-size: $fontSizeM;
     
         span {
           font-size:$fontSizeL;
           margin-left: 4rem;
        }
      }

      h2 {
       margin-left: 10rem;
      }

    }
}
}

@media only screen and (min-width: 1600px) {

 .introduction-container {
   margin-left: 20rem;
   min-width: 550px;

     .title {

       h1 {
         margin-left: 2rem;
         font-size: $fontSizeL;
     
         span {
           font-size:$fontSizeXL;
           margin-left: 4rem;
        }
      }

       h2 {
        margin-left: 10rem;
      }
      }
}

 .projects-section {

   h1 {
     transition: 0.5s ;
  }

}

 .heading {
   margin: 3rem 5rem;
}

 .about-section, .socials-section {
  padding: 5rem ;
}}






